h1 {
    text-align: center;
}
.pagination {
    text-align: center;
}
.top_nav_bar {
    margin:0px;
    position:relative;
    height:40px;
}
.nav_links {
    text-align: left;
    position:absolute;
    bottom:-4px;
    left:0px;
}
.search_form {
    text-align: right;
    position:absolute;
    bottom:-7px;
    right:0px;
}

/* Category view */
.category_description {
    font-style: italic;
}

/* Monthly archive view */
.archive_index > li {
    margin: 0;
    padding: 0.1em;
}

.archive_index_date {
    font-style: italic;
    font-size: smaller;
}

/* Printed HTML Calendar */
table.month {
    width: 30%;
    table-layout: fixed;
    border-collapse: collapse;
}
.noday, .sun, .mon, .tue, .wed, .thu, .fri, .sat, .month {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    border: 1px solid black;
}

