/* Base */
h1 {
    text-align: center;
}
.pagination {
    text-align: center;
}
.top_nav_bar {
    margin:0px;
    position:relative;
    height:40px;
}
.nav_links {
    text-align: left;
    position:absolute;
    bottom:-4px;
    left:0px;
}
.search_form {
    text-align: right;
    position:absolute;
    bottom:-7px;
    right:0px;
}


/* Highlighting */
.highlight {
    background-color: #f9e79f;
}


/* Category view */
.category_description {
    font-style: italic;
}


/* Monthly archive view */
.archive_index > li {
    margin: 0;
    padding: 0.1em;
}
.archive_index_date {
    font-style: italic;
    font-size: smaller;
}


/* Printed HTML Calendar */
table.month, table.year {
    /* width: 30%; */
    table-layout: fixed;
    border-collapse: collapse;
}
th.year {
    text-align: center;
    font-size: larger;
}
.month, .day_of_the_week, .day_of_the_month {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    border: 1px solid black;
}
th.month {
    font-size: larger;
}
.daily_link {
    font-weight: bold !important;
    background-color: #EBF5Fb !important;
}

