<div class="markdownx">
    {% include 'django/forms/widgets/textarea.html' %}
    <button type="button" class="collapsible" style="color:white; background-color:#008CBA; border:none; border-radius:4px; padding:10px 15px; cursor:pointer;">Collapse</button>
    <div class="markdownx-preview"></div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</div>
