{% extends "blog/search_results.html" %}
{% load static %}


{% block page_title %}
    <h2 id="advanced_search_title">Advanced Search &#8648;</h2>
{% endblock page_title %}


{% block page_content %}
    <!-- Display search form first. -->
    <div id="advanced_search_form_container">
        <form action="{% url "advanced_search" %}" id="advanced_search_form" method="GET">
            {% for field in form %}
                <div class="field_wrapper">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            
            <div class="advanced_search_buttons">
                <input type="reset" value="Reset">
                <input type="button" value="Clear Categories" id="clear_categories">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>


    <!-- Then print search results. -->
    {% if page_obj %}
        {% for post in page_obj %}
            <div class="blog_post">
                {% comment %}
                This is for cleaning up the invisible highlight that shows up in the source code.
                {% endcomment %}
                <!-- Post Title-->
                {% if query_title %}
                    <h3><a href="{% url "blog_detail" post.pk %}">
                        {{ post.title | highlighter:query_title }}
                    </a></h3>
                {% else %}
                    <h3><a href="{% url "blog_detail" post.pk %}">
                        {{ post.title }}
                    </a></h3>
                {% endif %}
                
                <!-- Date and Categories -->
                <small>
                    {{ post.created_on.date | date:"M j, Y" }} | Categories:
                    {% for category in post.categories.all %}
                        {% comment %}
                        The following line is all on a single line because spaces and line breaks add an extra space at the end of each category tag, which does not look as good if the list is stylized to add commas in between each item.
                        It also checks to if any of the categories were searched, and if so, highlights it. Otherwise, it outputs the category without the template filter that would cause invisible highlights that shows up in the source code.
                        {% endcomment %}
                        <a href="{% url "blog_category" category.name %}">{% if category.name in query_categories %}{{ category.name | highlighter:category.name }}{% else %}{{ category.name }}{% endif %}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small>

                {% comment %}
                Even though autoescape was off, the post body was still being escaped if searching in any field except the body.
                {% endcomment %}
                <!-- Post Body -->
                {% if query_body %}
                    <p>{{ post.formatted_markdown | highlighter:query_body }}</p>
                {% else %}
                    <p>{{ post.formatted_markdown }}</p>
                {% endif %}

            </div>
        {% endfor %}

    {% else %}
        <p>No posts found.</p>

    {% endif %}

    <script src="{% static "blog/advanced_search.js" %}"></script>
{% endblock page_content %}


