{% extends "blog/base.html" %}
{% load month_name %}


{% block page_content %}
    {% if page_obj %}
        <ul class="archive_index">
        {% for post in page_obj %}
            <li><span class="archive_index_date">{{ post.created_on.date | date:"M j, Y" }}</span> - <a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

    {% else %}
        <p>No posts found.</p>

    {% endif %}
{% endblock page_content %}


{% block page_navigation %}
<div class="pagination">
    <span class="step-links">
        {% if prev_month %}
            <a href="{% url "archive_month" prev_month.0 prev_month.1 %}">prev ({{ prev_month.1 | month_name }} {{ prev_month.0 }})</a>
        {% endif %}

        <span class="current">~</span>

        {% if next_month %}
            <a href="{% url "archive_month" next_month.0 next_month.1 %}">next ({{ next_month.1 | month_name }} {{ next_month.0 }})</a>
        {% endif %}
    </span>
</div>
{% endblock page_navigation %}

