{% extends "blog/base.html" %}


{% block page_content %}
    {% if page_obj %}
        <div class="monthly_post_list">
            <!-- List of Posts -->
            <ul class="archive_index">
                {% for post in page_obj %}
                    <li>
                        <span class="archive_index_date">{{ post.created_on.date | date:"M j, Y" }}</span> - 
                        <a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>

    {% else %}
        <p>No posts found.</p>

    {% endif %}
{% endblock page_content %}


{% block page_navigation %}
    {% if prev_month %}
        <a href="{% url "archive_month" prev_month.0 prev_month.1 %}">
            {{ prev_month.1 | month_name }} {{ prev_month.0 }}
        </a>
    {% endif %}

    <span class="current_page">
        ~{{ this_month.1 | month_name }} {{ this_month.0 }}~
    </span>

    {% if next_month %}
        <a href="{% url "archive_month" next_month.0 next_month.1 %}">
            {{ next_month.1 | month_name }} {{ next_month.0 }}
        </a>
    {% endif %}
{% endblock page_navigation %}

