{% extends "blog/index.html" %}

{% block site_title %}
    <title>My Personal Blog | Archive</title>
{% endblock site_title %}

{% block page_title %}
    <h2>Archive</h2>
{% endblock page_title %}

{% block page_content %}
    <p>Placeholder link. Maybe eventually a search box for dates or a calendar.</p>
{% endblock page_content %}


{% block page_navigation %}
    <div class="pagination">
        <span class="step-links">
            <span class="current">~</span>
        </span>
    </div>
{% endblock page_navigation %}