<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Personal Blog 
        {% block site_title %}
            {% if site_title %}
            | {{ site_title }}
            {% endif %}
        {% endblock site_title %}
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/sakura.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
    <script src="{% static "blog/jquery-3.7.1.min.js" %}"></script>
</head>


<body>
    <div class="website_title">
        <h1><a href="{% url "blog_index" %}">My Personal Blog</a></h1>
    </div>

    <div class="top_nav_bar">
        <div class="nav_links">
            <span id="color_mode_switcher">&#9775;</span> &#8226; 
            <a href="{% url "blog_archives" %}">Archives</a> &#8226; 
            <a href="{% url "advanced_search" %}">Search</a> 
        </div>

        <div class="search_form">
            <form method="GET" action="{% url 'blog_search' %}">
                <input type="text" name="q" placeholder="Search">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <hr>

    <div class="page_title">
        {% block page_title %}
            {% if page_title %}
                <h2>{{ page_title }}</h2>
            {% endif %}
        {% endblock page_title %}
    </div>
    
    <div class="page_content">
        {% block page_content %}{% endblock page_content %}
    </div>

    <hr>
    <div class="pagination">
        {% block page_navigation %}
            <span class="current_page">~</span>
        {% endblock page_navigation %}
    </div>

    <script src="{% static "blog/color_mode.js" %}"></script>
    <script src="{% static "blog/remove_p.js" %}"></script>
</body>

</html>

