<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Blog</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/sakura.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
    <script src="{% static "blog/jquery-3.7.1.min.js" %}"></script>
</head>
<body>
    <h1>My Personal Blog</h1>
    <a href="{% url "blog_index" %}">Home</a>
    <hr>
    {% block page_title %}{% endblock page_title %}
    {% block page_content %}{% endblock page_content %}
    {% block page_navigation %}{% endblock page_navigation %}

    <script src="{% static "blog/remove_p.js" %}"></script>
</body>
</html>

