<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{ site_title | safe }}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/sakura.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
    <script src="{% static "blog/jquery-3.7.1.min.js" %}"></script>
</head>
<body>
    <h1><a href="{% url "blog_index" %}">My Personal Blog</a></h1>

    <div class="top_nav_bar">
        <div class="nav_links">
            <a href="{% url "blog_archive" %}">Archives</a>
        </div>

        <div class="search_form">
            <form method="GET" action="{% url 'blog_search' %}"">
                <input type="text" name="q" placeholder="Search">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <hr>
    {{ page_title | safe }}
    {% block page_content %}{% endblock page_content %}
    <hr>
    {% block page_navigation %}
    <div class="pagination">
        <span class="step-links">
            <span class="current">~</span>
        </span>
    </div>
    {% endblock page_navigation %}

    <script src="{% static "blog/remove_p.js" %}"></script>
</body>
</html>

