{% extends "blog/base.html" %}

{% block site_title %}
    <title>My Personal Blog | {{ post.title }}</title>
{% endblock site_title %}

{% block page_title %}
    <h2><a href="{% url "admin:blog_post_change" post.pk %}">{{ post.title }}</a></h2>
{% endblock page_title %}

{% block page_content %}
    <small>
        {{ post.created_on.date | date:"M j, Y" }} | Categories:
        {% for category in post.categories.all %}
            <a href="{% url "blog_category" category.name %}">{{ category.name | safe }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </small>
    <p>{{ post.formatted_markdown | safe }}</p>
{% endblock page_content %}


{% block page_navigation %}
<div class="pagination">
    <span class="step-links">
        {% if post.get_previous_by_created_on %}
            <a href="../{{ post.get_previous_by_created_on.pk }}">prev</a>
        {% endif %}

        <span class="current">~</span>

        {% if post.get_next_by_created_on.pk %}
            <a href="../{{ post.get_next_by_created_on.pk }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock page_navigation %}

