/* This should be the same thing as ".main > .content". */
#content-start {
    flex:  1 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* "Site Administration" or "Select ___ to change" headers. */
#content > h1 {
    text-align: center;
}

/* The success/error messages when creating/editing a post. */
.messagelist {
    position: fixed;
    bottom: 0px;
}

/* Label, dropdown menu, "Go" button, and number of items selected
   when looking at a model's overview page. */
.actions {
    text-align: center;
}

/* Textbox while creating/editing a post. */
textarea {
    max-height: 300px !important;
    overflow-y: scroll;
}


/* ********************************************************** */
/* This is for a custom function. */
.category_posts_list {
    margin: 0;
    padding-left: 0;
}



/* ********************************************************** */
/* This is for testing only */
/*
html[data-theme="dark"], :root {
    --body-bg: #CD5C5C;
}
*/
